<%- include ('../partials/header&style.ejs') -%>

<div class="container mt-5">
    <h2>Update product</h2>
    <div style="border-radius: 10px;" class="col-sm-12 bg-primary mt-5 p-5">
        <form action="/update/<%=prod._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input id="title" name="title" type="text" class="form-control" required value="<%= prod.title  %>">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Product description</label>
                <input  id="description" name="description" type="text" class="form-control" required value="<%= prod.description  %>">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input  id="price" name="price" type="number" class="form-control" min="0" required value="<%= prod.price  %>">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input  id="city" name="city" type="text" class="form-control" required value="<%= prod.city  %>">
            </div>
            <button style="background-color: #282923;" type="submit" class="btn v">save</button>
        </form>
    </div>
</div>

<%- include ('../partials/footer.ejs') -%>